h1 ,p{
    text-align: justify;
    margin: 20px;
    font-family: sans-serif;
}

.mainbox{
    display: flex;
}
.box{
    margin: 2%;
    width: 400px;
    border: 2px solid;
    box-shadow: 10px -8px 20px  red,inset 10px -10px 20px blue;
    
}

#double{
    text-shadow: 10px 12px 5px red;
}
