/* descendant selectors */
/* div p{ 
     background-color: rgb(19, 139, 245); 
 } */

/* child selctors */
/* div > p{
    background-color: blueviolet;
} */

/* adjacent sibling selectors */
div + p{
    color: blue;
    background-color: tomato;
}

/* general */
/* div~p{
    background-color: aqua;
    color: brown;
} */