a:link{
    color: black;
}

a:visited{
    color: red;
}

a:active{
    color: brown;
}
a:hover{
    color: gold;
    background-color: rgb(110, 110, 112);
}

input:focus{
    background-color: rgb(215, 252, 5);
}

img{
    height: 300px;
}

p:first-child{
    background-color: violet;
}

p:last-child{
    background-color: chocolate;
}

p:nth-child(even)
{
    background-color: rgb(15, 216, 252);
}

div picture img:hover{
    transition: all 0.3ms ease-in-out;
    content: url('https://cdn.pixabay.com/photo/2021/12/18/06/01/sunset-6878021_960_720.jpg');
   
}