p::after{
    content: url('https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916__340.png');
}

p::first-letter
{
    background-color: rgb(117, 117, 247);
}
p::first-line{
    color: palevioletred;
}

li::marker{
    color: red;
}

p::selection{
    background-color: yellow;
}
a[target='_blank']{
     color: rgb(248, 138, 11);
     background-color: rgb(9, 54, 252);
}

a[target='_self']{
    color: brown;
}

img[alt~='coffee']{
    border: 2px solid ;
}

img[alt*=' snow']{
    border: 2px solid red;
}

img:hover{
    opacity: 0.5;
}