@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:wght@100;800&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, #525253, #2a2a2b, #141414, #050505, #070707);
}

  h1{
    font-family: 'Poppins', sans-serif;
      font-weight: 100;
      color: white;
      font-size: 35px;
      
  }
  .div{
      float: right;
      margin-right: 15%;
      line-height: 10px;
      padding: 25px 0px;
  }
  h1 span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
      font-size: 40px;
     
  }
  #span1{
    background: -webkit-linear-gradient(rgb(5, 122, 122),rgb(145, 235, 235), rgb(4, 248, 228));
          -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
  }
  #span2{
    background: -webkit-linear-gradient(rgb(2, 117, 194),rgb(64, 141, 204), rgb(4, 150, 248));
          -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
  }
  #span3{
    background: -webkit-linear-gradient(rgb(2, 194, 194),rgb(45, 107, 107), rgb(4, 248, 228));
          -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
  }
  #span4{
    background: -webkit-linear-gradient(rgb(2, 194, 194),rgb(61, 133, 133), rgb(4, 248, 228));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span5{
    background: -webkit-linear-gradient(rgb(119, 250, 250),rgb(69, 126, 126), rgb(172, 245, 239));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span6{
    background: -webkit-linear-gradient(rgb(2, 194, 82),rgb(29, 73, 8), rgb(45, 248, 4));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span7{
    background: -webkit-linear-gradient(rgb(229, 233, 7),rgb(143, 145, 40), rgb(224, 248, 4));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span8{
    background: -webkit-linear-gradient(rgb(244, 248, 12),rgb(151, 153, 37), rgb(248, 244, 4));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span9{
    background: -webkit-linear-gradient(rgb(241, 245, 15),rgb(150, 151, 73), rgb(247, 232, 35));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span10{
    background: -webkit-linear-gradient(rgb(229, 233, 7),rgb(245, 248, 60), rgb(224, 248, 4));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span11{
    background: -webkit-linear-gradient(rgb(233, 173, 7),rgb(243, 165, 21), rgb(248, 203, 4));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span12{
    background: -webkit-linear-gradient(rgb(247, 179, 78),rgb(238, 146, 7), rgb(248, 185, 113));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span13{
    background: -webkit-linear-gradient(rgb(245, 115, 92),rgb(167, 28, 3), rgb(236, 151, 136));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  #span14{
    background: -webkit-linear-gradient(rgb(247, 75, 22),rgb(248, 4, 4), rgb(243, 74, 22));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }